<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v4.js"></script>
    <link rel="shortcut icon" href="#">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="static/js/framework/jquery-3.6.0.min.js"></script>
    <!-- <script src="static/js/framework/bootstrap.bundle.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="static/js/screeplot.js"></script>
    <script src="static/js/biplot.js"></script>
    <script src="static/js/scatterplot_matrix.js"></script>
    <script src="static/js/feature_table_generator.js"></script>
    <script src="static/js/mds_sctterplot.js"></script>
    <script src="static/js/pcp.js"></script>
    <script src="static/js/index.js"></script>
    <title>Homework2</title>

</head>

<body>
    <div id="heading">
        <h1 id="heading-assignment">CSE 564 Visualization Assignment 2</h1>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li id="nav-home"><a href="#">Home</a></li>
                <li><a id="nav-screeplot" href="#">Screeplot</a></li>
                <li><a id="nav-biplot" href="#">Biplot</a></li>
                <li><a id="nav-mds" href="#">MDS</a></li>
                <li><a id="nav-mds-corr" href="#">MDS Corr PCP</a></li>
                <!-- <li><a id="nav-pcp" href="#">PCP</a></li> -->
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="home">
            <h1>Dataset Information: Rice Seed Dataset (Gonen&Jasmine)</h1>
            <h2>Link to dataset</h2>
            <a style="font-size:1.2em;" href="https://www.kaggle.com/seymasa/rice-dataset-gonenjasmine/code">https://www.kaggle.com/seymasa/rice-dataset-gonenjasmine/code</a>
            <h2>About Data</h2>
            <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; The data in the dataset was extracted from two kinds of rice (Gonen, Jasmine). The total number of entries is 18185 and the number of columns or attributes is 12. For the visualisation
                purpose we have taken only 1% of the original dataset by applying random sampling. The purpose of the original dataset is for checking classification models.
            </p>
            <h2>Attributes</h2>
            <ol class="list-attributes">
                <li class="list-attributes-elemetn">Area</li>
                <li class="list-attributes-elemetn">MajorAxisLength</li>
                <li class="list-attributes-elemetn">id</li>
                <li class="list-attributes-elemetn">MinorAxisLength</li>
                <li class="list-attributes-elemetn">Eccentricity</li>
                <li class="list-attributes-elemetn">ConvexArea</li>
                <li class="list-attributes-elemetn">EquivDiameter</li>
                <li class="list-attributes-elemetn">Extent</li>
                <li class="list-attributes-elemetn">Perimeter</li>
                <li class="list-attributes-elemetn">Roundness</li>
                <li class="list-attributes-elemetn">AspectRation</li>
                <li class="list-attributes-elemetn">Class</li>
            </ol>
        </div>
        <div class="scree-plot">
            <div class="grid-container">
                <div class="item1">
                    <h3> Intrinsic Dimensionality Index : <span id='intrinsic-dimentionality-index'>None</span></h3>
                    <div id="scree-plot-graph"></div>

                </div>
                <div class="item2">
                    <div id="imp-features-table-div"></div>
                </div>
                <div class="item3">
                    <div id="scatterplot-matrix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="biplot">
        <div id="biplot-graph"></div>
    </div>
    <div class="mds">
        <div id="group-buttons-mds">
            <!-- <button class="buttons-mds" id="buttons-mds-data">MDS data Scatterplot</button>
            <button class="buttons-mds" id="buttons-mds-attr">MDS |1-Correlation| Scatterplot</button> -->
        </div>
        <div id="mds-scatterplot-graph-data"></div>
    </div>
    <div class="mds-corr">
        <button id="reset-pcp-and-mds">Reset</button>
        <div id="mds-scatterplot-graph-attr" style="float: left;">
        </div>
        <div id="pcp-graph"></div>

    </div>
    <!-- <div class="pcp">
        <div id="default-pcp-graph"></div>
    </div> -->
</body>

</html>