body {
    margin: 0;
    font-family: sans-serif;
    overflow: auto;
}

#heading {
    text-align: center;
    color: red;
}

svg {
    font: 10px sans-serif;
    padding: 12px;
}

table,
th,
td,
tr {
    border: 1px solid black;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #e8e8e8;
    opacity: 0.5;
}

.axis path {
    display: none;
}

.axis text {
    fill: black;
}

.cell text {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
    fill: #222;
}

.frame {
    fill: none;
    stroke: #aaa;
}

.diagonal {
    stroke: none;
    fill: #fff;
    fill-opacity: 0.9;
}

circle {
    fill-opacity: .7;
}

circle.hidden {
    fill: #ccc !important;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: .2rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
    white-space: pre-wrap;
    font-size: 1.5em;
}