body {
    overflow: hidden;
    background-image: url("data/fifa20_visualisation_background.jpg");
    background-size: cover;
}

h3 {
    margin: 0px 0px 0px 0px;
}

text {
    font-family: sans-serif;
}

.tick text {
    font-size: 2.7em;
    fill: #635f5d;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    font-size: 1.5em;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.main-body {
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    background-size: auto;
}

#heading {
    text-align: center;
    color: red;
}

.scatterplot-functionality {
    float: left;
}

.attribute-heading {
    color: red;
    padding-top: 20px;
}

.attribute-select {
    font-size: 1.3em;
    padding: 10px;
    margin-bottom: 40px;
    width: 400px;
}

#scatterplot-set-attribute {
    float: left;
}

.options {
    color: red;
    font-size: 1.5em;
    float: left;
}

.radio-axis {
    margin-bottom: 15px;
}

#barchartgraph {
    height: 600px;
    width: 1200px;
}

svg {
    float: none;
    background-color: #a6f3ff;
}

rect {
    fill: steelblue;
}

circle {
    fill: red;
    opacity: 0.5;
}

.histogram-bar-text {
    white-space: pre-wrap;
}