body {
    margin: 0px;
    overflow: hidden;
}

rect {
    fill: steelblue;
}

circle {
    fill: red;
    opacity: 0.5;
}

text {
    font-size: 4.5em;
    font-family: sans-serif;
}

.tick text {
    font-size: 2.7em;
    fill: #635f5d
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 0.5rem;
    margin-top: -20px;
    border: 1px solid #313639;
    border-radius: 8px;
    font: 10px sans-serif;
    background: #ddd;
    pointer-events: none;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}