body {
    font-family: sans-serif;
    overflow: auto;
    background-color: #fff8e8;
}

#heading-assignment {
    font-size: 3.5em;
}

#heading {
    text-align: center;
    /* font-weight: bold; */
}

.navbar {
    font-size: 1.5em;
}

text {
    font-size: 1.5em;
}

.container {
    margin: 0%;
    width: auto;
}

.home {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.3em;
}

p {
    font-size: 1.3em;
}

.list-attributes-elemetn {
    font-size: 1.3em;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
}

.item2 {
    grid-column: 1;
    grid-row: 2;
}

.item3 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.biplot {
    padding-right: 10%;
    padding-left: 10%;
}

.mds {
    padding-left: 10%;
    padding-right: 10%;
}

#group-buttons-mds {
    margin-left: 100px;
    margin-bottom: 50px;
}

.buttons-mds {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.buttons-mds:hover {
    background-color: #3e8e41
}

.buttons-mds:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

svg {
    font: 10px sans-serif;
    padding: 12px;
}

table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 1.8em;
}

td {
    border: 1px solid black;
}

.head-table {
    background-color: burlywood;
}

.table-content {
    background-color: blanchedalmond;
}

.background-pcp path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground-pcp path {
    fill: none;
    stroke: steelblue;
}

.axis-pcp line,
.axis-pcp path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-pcp text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}

.axis-scatterplotmatrix,
.frame {
    shape-rendering: crispEdges;
}

.axis-scatterplotmatrix line {
    stroke: #e8e8e8;
    opacity: 0.5;
}

.axis-scatterplotmatrix path {
    display: none;
}

.axis-scatterplotmatrix text {
    fill: black;
}

.cell text {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
    fill: #222;
}

.frame {
    fill: none;
    stroke: #aaa;
}

.diagonal {
    stroke: none;
    fill: #fff;
    fill-opacity: 0.9;
}

circle {
    fill-opacity: .7;
}

circle.hidden {
    fill: #ccc !important;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 0.7rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
    white-space: pre-wrap;
    font-size: 1.5em;
}